/*main.php*/
#contents_main{
    text-align:center;
}

#contents_main img{
    height:150px;
}

#header_main h1{
    float:left;
}

/*Ja-En_Quiz.php*/
#hint {
    width: 100%;
}

#hint table {
    width: 300px;
}

#main {
    width: 100%;
    text-align: center;
    font-weight:bold;
}

.quizbtn{
    width:150px;
}

/*management.php*/

#register_table table{
    table-layout:fixed;
}